<a href="https://colab.research.google.com/github/PPatrickGU/ROB311/blob/master/TP1_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# Assign the name of the attributes
Attribute_names = ['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size',
         'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Class']
data_path = "./breast-cancer-wisconsin.data"

# Read dataset to Dataframe of Pandas
dataset = pd.read_csv(data_path, names=Attribute_names)

# Eliminating the line of '?'
# Shape Before
print(dataset.shape)
# Shape after


# display the data
dataset.head()

(699, 10)

         Clump Thickness  Uniformity of Cell Size  ...  Mitoses  Class
1000025                5                        1  ...        1      2
1002945                5                        4  ...        1      2
1015425                3                        1  ...        1      2
1016277                6                        8  ...        1      2
1017023                4                        1  ...        1      2

[5 rows x 10 columns]